.left-bar-content{
    background-image: url('../img/black-wood-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    color: white;
    background-color: purple;
    width: 20%
}