.top-bar-content{
    background-image: url('../img/cobblestone-background-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    color: gold;
    background-color: red;
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 3em;
    height: 100%;
    width: 100%;

    text-align: center;
    margin: 0;
}